<div class="footer">
    <div class="sub-foot">
        <li class="foot-head">Developers Contact</li> 
        <li><a href="#">Someone1@Something1.com</a></li>
        <a href="#"><li>Someone2@Something2.com</a></li>
    </div>
    <div class="sub-foot">
        <li class="foot-head">Help</li>
        <li><a href="#">Raise Issue</a></li>
        <li><a href="#">Funds</a></li>
    </div>
    <div class="sub-foot">
        <li class="foot-head">About us</li>
        <li><a href="#">Seminars</a></li>
        <li><a href="#">Shows</a></li> 
        <li><a href="#">Publications</a></li>
    </div>
    <div class="sub-foot">
        <li class="foot-head">Learn</li> 
        <li><a href="#"> Grow </a></li>
        <li><a href="#"> Study Materials </a></li>
    </div>
</div>
</body>
</html>

