<div class="navbar">
    <div class="nav-items brandname">
       <a href="/">Diseases-Info-Portal</a> 
    </div>
    <div class="nav-items">
        <a href="/majorDiseases">Major Diseases</a>
    </div>
    <div class="nav-items">
        <a href="/">Minor Diseases</a>
    </div>
    <div class="nav-items">
        <a href="/">Cures</a>
    </div>
</div>