<%- include('includes/header') %>
<link rel="stylesheet" href="/css/navstyle.css">
<link rel="stylesheet" href="/css/homestyle.css">
</head>
<body>

<%- include('includes/navbar') %>

<div class="container">
<div class="news">
<p class="news-head"> <b>Wiki Defines:</b> </p>
<p>
   <p>A disease is a particular abnormal condition that negatively affects the structure or function of all or part of an organism, and that is not due to any immediate external injury.Diseases are often known to be medical conditions that are associated with specific signs and symptoms.</p> <p>A disease may be caused by external factors such as pathogens or by internal dysfunctions. For example, internal dysfunctions of the immune system can produce a variety of different diseases, including various forms of immunodeficiency, hypersensitivity, allergies and autoimmune disorders.</p> 
</p>
</div>  

</div>


</body>
<%- include('includes/footer') %>